<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DocumentWorkflowService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IConfigSettingsService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ChartService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_DocumentService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_DocumentTemplateService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IFeedsService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_LogService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ReportBlockService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ReportingService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_SnapshotService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IVersionInfoService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_DictionaryService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_InstrumentsService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10715/WebServices/DocumentWorkflowService.svc/BasicBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentWorkflowService" contract="DocumentWorkflowService.DocumentWorkflowService" name="BasicHttpBinding_DocumentWorkflowService" />
            <endpoint address="http://localhost:10715/WebServices/ConfigSettingsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigSettingsService" contract="ConfigSettingsService.IConfigSettingsService" name="BasicHttpBinding_IConfigSettingsService" />
            <endpoint address="http://localhost:10715/WebServices/ChartService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ChartService" contract="ChartService.ChartService" name="BasicHttpBinding_ChartService" />
            <endpoint address="http://localhost:10715/WebServices/DocumentService.svc/BasicBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentService" contract="DocumentService.DocumentService" name="BasicHttpBinding_DocumentService" />
            <endpoint address="http://localhost:10715/WebServices/DocumentTemplateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentTemplateService" contract="DocumentTemplateService.DocumentTemplateService" name="BasicHttpBinding_DocumentTemplateService" />
            <endpoint address="http://localhost:10715/WebServices/FeedsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeedsService" contract="FeedsService.IFeedsService" name="BasicHttpBinding_IFeedsService" />
            <endpoint address="http://localhost:10715/WebServices/LogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LogService" contract="LogService.LogService" name="BasicHttpBinding_LogService" />
            <endpoint address="http://localhost:10715/WebServices/ReportingService.svc/BasicBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReportingService" contract="ReportingService.ReportingService" name="BasicHttpBinding_ReportingService" />
            <endpoint address="http://localhost:10715/WebServices/SnapshotService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SnapshotService" contract="SnapshotService.SnapshotService" name="BasicHttpBinding_SnapshotService" />
            <endpoint address="http://localhost:10715/WebServices/VersionInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVersionInfoService" contract="VersionInfoService.IVersionInfoService" name="BasicHttpBinding_IVersionInfoService" />
            <endpoint address="http://localhost:10715/WebServices/DictionaryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DictionaryService" contract="DictionaryService.DictionaryService" name="BasicHttpBinding_DictionaryService" />
            <endpoint address="http://localhost:10715/WebServices/InstrumentsService.svc/BasicBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InstrumentsService" contract="InstrumentsService.InstrumentsService" name="BasicHttpBinding_InstrumentsService" />
            <endpoint address="http://localhost:10715/WebServices/ReportBlockService.svc/BasicBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReportBlockService" contract="ReportBlockService.ReportBlockService" name="BasicHttpBinding_ReportBlockService" />
        </client>
    </system.serviceModel>
    <!--<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
